[defaults]
collections_paths:/home/student/ex374ans2/mycollections:/usr/share/ansible/collections
inventory=./inventory
remote_user=devops
ask_pass=false

[privilege_escalation]
become=true
become_user=root
become_method=sudo
become_ask_pass=false

[galaxy]
server_list = rh-certified_repo

[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified/
token=e18db9766c95ce5a6ef6ef90de516e08ac9c0e48
